.App {
  max-width: 1000px;
  margin: 20px auto 0;
  display: flex;
}
.sidebar{
  width: 30%;
  border: 1px solid black;
  text-align: center;
  height: 95vh;
  overflow: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}